.avatar{
    height: 125px;
    width: 125px;
    border-radius: 100%;
    align-items: center;
    margin-top: 10px;
}
.avatar-box{
    text-align: center;
}
.footer-row{
    height: 150px;
    padding-top: 20px;
}